<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/> 
		<title>Mision La abuela sorda</title>
	</head>

	<body>

		<h1>Abuela Sorda</h1>
		<form action="/respuesta" method="get">
			<p>Di algo Abuela:</p>
			<input type="text" name="comentario"></input>
			<input type="submit" value="Dilo!"></input>
		</form>
		
	</body>
</html>
